#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

clean:
	rm -rf debian/lxc-provider test/
	rm -f debian/lxc-provider.debhelper.log debian/lxc-provider.substvars debian/files

install:
	$(MAKE) install root=debian/lxc-provider

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs -n
	dh_fixperms
	dh_gencontrol
	dh_md5sums
	dh_builddeb	
